[user]
	name = Alexander Topalo
	email = topaloalexander@gmail.com

[core]
	autocrlf = input

[init]
	defaultBranch = master

[url "git@github.com:"]
	insteadOf = https://github.com/

[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
